/* stylesheet.css */

body {
    background-color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    font-family: cursive;
}


img {
    max-width: 100%;
  }
    
vid {
    max-width: 400px;
    height: auto;
}