/* stylesheet.css */

body {
    background-color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    font-family: cursive;
}

.center-cropped {
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
}

.mainimg {
    padding: 0;
    /* display: block; */
    margin: 0 auto;
    max-width: 100%;
    width: 900px;
    height:auto;
    max-height: auto;
  }
.box {
    background-color: rgba(78, 25, 25, 0.7);
    padding: 3px;
    margin: 1px;
    border: 1px;
    text-align: center;
    color: antiquewhite;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }}

.ytp {
    height: 100%;
    width: 100%;
    max-height: auto;
    max-width: 1000px;
}

.smallimg {
    width: 125px;
    max-height: auto;
}